include README.md
include requirements.txt
include requirements2.txt
include docs/*.txt
include abtools/utils/*
include abtools/utils/germline_genes/*
include abtools/utils/matrices/*
include abtools/queue/*
